a{
    color:#f6fa03;
    font-family: 'Merriweather', serif;
    margin:10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6
}
body{
    background-color: #f7c65d;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size:5.6rem;  /* 100%=16px so 90px would be (90/16)*100=562.5 */  /* 1em=100%=16px */
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color:#065353;
    line-height:1.5; /* gap between the two */
}
h2{
    font-family: 'Montserrat', sans-serif; /* from fonts.google.com where we select the fonts and copy link*/
    font-size:2.5rem;
    color:#065353;
    font-weight:bolder;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#035b5e;
    font-weight:bolder;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width:3%;
    margin: 100px auto;

}
p {
    line-height: 2;
}
.bottom-cloud{
    position: absolute;
    left: 150px;
    bottom: 400px;
    height: 10%;
}
.bottom-container{
    background-color: #e26a1a;
    padding: 50px 0px 20px;
}
.btn {
    background: #fa6705;
    background-image: -webkit-linear-gradient(top, #fa6705, #ed890e);
    background-image: -moz-linear-gradient(top, #fa6705, #ed890e);
    background-image: -ms-linear-gradient(top, #fa6705, #ed890e);
    background-image: -o-linear-gradient(top, #fa6705, #ed890e);
    background-image: linear-gradient(to bottom, #fa6705, #ed890e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #d412e6;
    background-image: -webkit-linear-gradient(top, #d412e6, #eb1753);
    background-image: -moz-linear-gradient(top, #d412e6, #eb1753);
    background-image: -ms-linear-gradient(top, #d412e6, #eb1753);
    background-image: -o-linear-gradient(top, #d412e6, #eb1753);
    background-image: linear-gradient(to bottom, #d412e6, #eb1753);
    text-decoration: none;
  }
.contact-me{
    width:40%;
    margin:40px auto 60px;
}
.Copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px auto;
}
.contact{
    margin:20px auto 50px;
}
.mountain{
    position:relative;
    top:120px;
}
.top_container{
    background-color: #f0d57e ; 
    margin: 0px;
    position: relative;
    padding-top: 100px;
}
/* .middle_container{

}
.bottom_container{

} */
.upper-cloud{
    position: absolute;
    right: 150px;
    top:50px;
    height:10%;
}

.idea1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.idea2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.idea3{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.pro{
    text-decoration: underline;
}
.prateekIMG{
    height: 15%;
    width: 15%;
    padding: 50px;
}
.intro_para{
    width: 30%;
    margin: auto;
}
/*To clear the float or to remove the wraping inside the image*/
/* .prm1{
    clear: left;
}
.prm2{
    clear:right;
}
.prm3{
    clear:left;
} */
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height:2;
    
}
